body {
    background-color: blueviolet;
}

.top_most {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.bottom_most {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.middle_field {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}