{% extends 'Base/_auth.html' %}
{% load static %}
{% block content %}
    <style>
        body {
            background-color: blueviolet;
        }
    </style>
    <div class="text-center">
        <div class="card mt-5" style="max-width: 500px; margin: auto">
            <div class="card-body">
                <form id="register_form" action="{% url 'request-reset-link' %}" method="POST"
                      style="max-width: 420px; margin: auto">
                    <img src="{% static 'img/icons8_synchronize.svg' %}" height="72" class="mt-5 mb-5"/>

                    {% csrf_token %}
                    <div class="form-group">
                        <input type="email" name="email" placeholder="Email" value="{{ field_values.email }}"
                               id="email-field"
                               class="form-control form-control-sm">
                    </div>
                    <input type="submit" value="Reset" id="submit_btn" class="btn btn-block btn-primary">
                </form>
                    <div class="mx-auto mt-2">{% include 'base/_messages.html' %}</div>
            </div>
            <a class="mt-3 mb-4 lead" href="{% url 'login_view' %}">Have an account?Login</a>
        </div>
    </div>
    <script src="{% static 'js/reset-password.js' %}"></script>
{% endblock %}