{% extends 'Base/_auth.html' %}
{% load static %}
{% block content %}
    <style>
        body {
            background-color: blueviolet;
        }
    </style>
    <div class="text-center">
        <div class="card mt-5" style="max-width: 500px; margin: auto">
            <div class="card-body">
                <form id="register_form" action="{% url 'reset-user-password' user_idb64 token %}" method="POST"
                      style="max-width: 420px; margin: auto">
                    <img src="{% static 'img/icons8_add_user_male.svg' %}" height="72" class="mt-5 mb-5"/>

                    {% csrf_token %}
                    <div class="form-group">
                        <input type="password" name="password" placeholder="Password" id="password-field"
                               class="form-control form-control-sm"/>
                        <small id="password-toggle" class="float-right py-3 btn btn-link">SHOW</small>
                    </div>

                    <input type="submit" value="Reset" id="submit_btn" class="btn btn-block btn-primary">
                </form>
                <div class="mx-auto mt-2">{% include 'base/_messages.html' %}</div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/register.js' %}"></script>
{% endblock %}